<!DOCTYPE html>
<html>
<head>
    <title>Brutus</title>
</head>
<body>
    <h1>Brutus</h1>
    <form method="post">
        <label for="target">Target:</label><br>
        <input type="text" id="target" name="target"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Attack">
    </form>
    {% if result %}
        <h2>Result:</h2>
        <pre>{{ result }}</pre>
    {% endif %}
</body>
</html>
