<!DOCTYPE html>
<html>
<head>
    <title>Evilginx</title>
</head>
<body>
    <h1>Evilginx Lure Creator</h1>
    <form method="post">
        <label for="hostname">Hostname:</label><br>
        <input type="text" id="hostname" name="hostname"><br>
        <label for="phish_url">Phishing URL:</label><br>
        <input type="text" id="phish_url" name="phish_url"><br>
         <label for="redirect_url">Redirect URL:</label><br>
        <input type="text" id="redirect_url" name="redirect_url"><br><br>
        <input type="submit" value="Create Lure">
    </form>
</body>
</html>
