<!DOCTYPE html>
<html>
<head>
    <title>SMS Template Creator</title>
</head>
<body>
    <h1>Create SMS Template</h1>
    <form method="post">
        <label for="sender_phone">Sender Phone Number:</label><br>
        <input type="tel" id="sender_phone" name="sender_phone"><br>
        <label for="recipient_phone">Recipient Phone Number:</label><br>
        <input type="tel" id="recipient_phone" name="recipient_phone"><br>
        <label for="sms_content">SMS Content:</label><br>
        <textarea id="sms_content" name="sms_content" rows="5" cols="50"></textarea><br><br>
        <input type="submit" value="Preview">
    </form>
</body>
</html>
