<!DOCTYPE html>
<html>
<head>
    <title>View Credentials</title>
</head>
<body>
    <h1>Stored Credentials</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>IP Address</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for credential in credentials %}
            <tr>
                <td>{{ credential[0] }}</td>
                <td>{{ credential[1] }}</td>
                <td>{{ credential[2] }}</td>
                <td>{{ credential[3] }}</td>
                <td>{{ credential[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
